@{
    ViewData["Title"] = "Internal Server Error";
}

@model ErrorViewModel;

<div class="text-center">
    <div class="alert alert-danger" role="alert">
        Something went wrong :(<br />
        <a href="/" class="alert-link">Go Home</a>
    </div>
    <div>
        <img src="~/img/error500.jpg" width="596" height="318" alt="Error 500" />
    </div>
</div>
