@{
    ViewData["Title"] = "Confirm Moving to Movies to See";
}

@model MovieToGetViewModel

<div class="alert alert-warning" role="alert">
    Move the following movie to the movies to see?
</div>

<div class="single-movie-item">
    @await Html.PartialAsync("_MovieInfoPartial", (Model.MovieInfo, Model.Id.Value, Model.Reference))
</div>

<form method="post" asp-action="MoveToMoviesToSee">
    <input type="hidden" id="id" name="id" value="@Model.Id.Value" />
    <button class="btn btn-primary" type="submit">Move</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
