@{
    ViewData["Title"] = "Confirm Moving to Movies to See";
}

@model MovieToGetViewModel

<div class="alert alert-warning" role="alert">
    Move the following movie to the movies to see?
</div>

<div class="single-movie-item">
    @await Html.PartialAsync("_MovieInfoPartial", Model.MovieInfo)
</div>

<form method="post" asp-action="MoveToMoviesToSee">
    <input type="hidden" id="id" name="id" value="@Model.Id.Value" />
    <button class="btn btn-primary" type="submit">Move</button>
    <button class="btn btn-primary" type="submit" asp-action="CancelMovingToSee">Cancel</button>
</form>
