@{
    ViewData["Title"] = "Confirm Movie Deletion";
}

@model MovieToGetViewModel

<div class="alert alert-warning" role="alert">
    Are you sure you want to delete the following movie?
</div>

<div class="single-movie-item">
    @await Html.PartialAsync("_MovieInfoPartial", (Model.MovieInfo, Model.Id.Value, Model.Reference))
</div>

<form method="post" asp-action="DeleteMovie">
    <input type="hidden" id="id" name="id" value="@Model.Id.Value" />
    <button class="btn btn-danger" type="submit">Delete</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
