@{
    ViewData["Title"] = "Movies to Get";
}

@using MovieLibrary.Authorization
@using MovieLibrary.Extensions
@model MoviesToGetViewModel

@if (!String.IsNullOrEmpty(Model.ErrorMessage))
{
    @await Html.PartialAsync("_AlertErrorPartial", Model.ErrorMessage)
}

@if (Model.AddedMovie)
{
    @await Html.PartialAsync("_AlertSuccessPartial", "The movie was added successfully.")
}

@if (Model.MovedMovie)
{
    @await Html.PartialAsync("_AlertSuccessPartial", "The movie was moved successfully.")
}

@if (Model.DeletedMovie)
{
    @await Html.PartialAsync("_AlertSuccessPartial", "The movie was deleted successfully.")
}

@if (User.HasPermission(ApplicationPermissions.MoviesToGet.Add))
{
    <form method="post" asp-action="ConfirmMovieAdding">
        <div class="form-group">
            <div><span asp-validation-for="NewMovieToGet.MovieUri" class="text-danger"></span></div>
            <div class="input-group">
                <div class="input-group-append">
                    <input class="form-control" asp-for="NewMovieToGet.MovieUri" placeholder="Movie URL" aria-label="Movie URL" size="40" />
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Paging.CurrentPageNumber" />
    </form>
}

@if (User.HasPermission(ApplicationPermissions.MoviesToGet.Read))
{
    @await Html.PartialAsync("_PagingPartial", Model.Paging)

    <ul class="movies-list">
        @foreach (var movie in Model.Movies)
        {
            <li id="movie-@movie.Id.Value" class="movies-list-item">
                <div class="movie-info-and-actions">
                    @await Html.PartialAsync("_MovieInfoPartial", (movie.MovieInfo, movie.Id.Value))
                    <div class="movie-actions">
                        @if (User.HasPermission(ApplicationPermissions.MoviesToGet.MoveToMoviesToSee))
                        {
                            <div>
                                <a class="btn-link" asp-action="ConfirmMovingToSee" asp-route-id="@movie.Id.Value">To see</a>
                            </div>
                        }
                        @if (User.HasPermission(ApplicationPermissions.MoviesToGet.Delete))
                        {
                            <div>
                                <a class="btn-link" asp-action="ConfirmMovieDeletion" asp-route-id="@movie.Id.Value">Delete</a>
                            </div>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>

    @await Html.PartialAsync("_PagingPartial", Model.Paging)
}
