
@{
    ViewData["Title"] = "Movies to get";
}
@model MovieLibrary.Logic.Models.MoviesToGetModel

<h1>Movies to get</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <p>
        <label asp-for="NewMovieToGet.MovieUri">Movie URL:</label>
        <input asp-for="NewMovieToGet.MovieUri" />
        <button type="submit">Add</button>
    </p>
</form>

<ul>
    @foreach (var movie in Model.Movies)
    {
        var movieInfo = movie.MovieInfo;
        <li>
            <a href="@movieInfo.MovieUri">@movieInfo.Title</a>
            <img src="@movieInfo.PosterUri" alt="Poster for movie &quot;@movieInfo.Title&quot;" width="240"/>
            <ul>
                @foreach (var genre in movieInfo.Genres)
                {
                    <li>@genre</li>
                }
            </ul>
        </li>
    }
</ul>
