/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.input-validation-error {
  border-color: red;
  background-color: #ffeeee;
}

.nav-link.active {
  background-color: #c8c8c8;
  border-radius: .25rem;
}

.movies-list {
  padding-left: 0;
  list-style-type: none;
}

.movies-list-item {
  border-bottom: 1px solid gray;
}

.movie-info-and-actions {
  display: flex;
  flex-direction: row;
}

.movie-info-and-actions, .single-movie-item {
  padding: 20px 0 20px 0;
}

.movie-info {
  display: flex;
  flex-direction: row;
  /*
    Occupy all width, even if movie details are narrow.
    Without this, actions block will move left for movies with narrow details.
  */
  flex-grow: 1;
}

.movie-info-poster {
  margin-right: 12px;
  flex: none;
  border-radius: 5px;

  width: 240px;
  height: 360px;
}

.movie-info-details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.movie-info-title {
  font-size: 1.4em;
}

.movie-info-table {
  margin-bottom: 1em;
}

.movie-info-table-key {
  font-weight: 600;
  padding-right: 60px;

  /* Making the key column as small as possible */
  width: 1px;
  white-space: nowrap;
}

.movie-info-table-value {
  width: auto;
}

.movie-info-summary {
  text-align: justify;
}

.movie-actions {
  /* Preventing action links from breaking into severla lines when summary is expanded
    (movie-info strives to occupy widest space).
  */
  white-space: nowrap;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}
