@{
    ViewData["Title"] = "Create Role";
}

@model MovieLibrary.UserManagement.ViewModels.Roles.NewRoleViewModel;

<form class="col-md-6" method="post" asp-action="CreateRole">
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Permission</th>
            <th class="text-center" scope="col">Assigned</th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Permissions.Count; ++i)
        {
            <tr>
                <td>@Model.Permissions[i].PermissionName</td>
                <td class="text-center">
                    <input type="checkbox" asp-for="Permissions[i].Assigned"/>
                    <input type="hidden" asp-for="Permissions[i].PermissionName"/>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <button class="btn btn-primary" type="submit">Create</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
