@{
    ViewData["Title"] = "Manage Roles";
}

@model MovieLibrary.UserManagement.ViewModels.Roles.RolesListViewModel;

@if (Model.AddedRole)
{
    <div class="alert alert-success" role="alert">
        The role was added successfully.
    </div>
}

@if (Model.UpdatedRole)
{
    <div class="alert alert-success" role="alert">
        The role was updated successfully.
    </div>
}

@if (Model.DeletedRole)
{
    <div class="alert alert-success" role="alert">
        The role was deleted successfully.
    </div>
}

<ul class="list-group">
    @foreach (var role in Model.Roles)
    {
        <li class="list-group-item">
            <div class="container">
                <div class="row">
                    <div class="col">
                        @role.RoleName
                    </div>
                    <div class="col-auto container">
                        <div class="row">
                            <div class="col">
                                <a asp-action="EditRole" asp-route-id="@role.Id">Edit</a>
                            </div>
                            <div class="col">
                                <a asp-action="ConfirmRoleDeletion" asp-route-id="@role.Id">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>

<a class="btn btn-primary mt-3" asp-action="CreateRole">Add Role</a>
