@{
    ViewData["Title"] = "Movies to See";
}

@using MovieLibrary.Internal
@model MoviesToSeeViewModel

@if (Model.AddedMovie)
{
    <div class="alert alert-success" role="alert">
        The movie was added successfully.
    </div>
}

@if (Model.MarkedMovieAsSeen)
{
    <div class="alert alert-success" role="alert">
        The movie was marked as seen.
    </div>
}

@if (Model.DeletedMovie)
{
    <div class="alert alert-success" role="alert">
        The movie was deleted successfully.
    </div>
}

@if (User.IsInRole(Roles.CanAddMoviesToSee))
{
    <form class="mb-3" method="post" asp-action="AddMovie">
        <div asp-validation-summary="All"></div>
        <div class="input-group">
            <div class="input-group-append">
                <input type="hidden" asp-for="Paging.CurrentPageNumber" />
                <input class="form-control" asp-for="NewMovieToSee.MovieUri" placeholder="Movie URL" aria-label="Movie URL" size="40" />
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
        </div>
    </form>
}

@if (User.IsInRole(Roles.CanReadMoviesToSee))
{
    @await Html.PartialAsync("_PagingPartial", Model.Paging)

    <ul class="movies-list">
        @foreach (var movie in Model.Movies)
        {
            <li id="movie-@movie.Id.Value" class="movies-list-item">
                <div class="movie-info-and-actions">
                    @await Html.PartialAsync("_MovieInfoPartial", movie.MovieInfo)
                    <div class="movie-actions">
                        @if (User.IsInRole(Roles.CanMarkMoviesAsSeen))
                        {
                            <div>
                                <a asp-action="ConfirmMarkingAsSeen" asp-route-id="@movie.Id.Value">Mark as seen</a>
                            </div>
                        }
                        @if (User.IsInRole(Roles.CanDeleteMoviesToSee))
                        {
                            <div>
                                <a asp-action="ConfirmMovieDeletion" asp-route-id="@movie.Id.Value">Delete</a>
                            </div>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>

    @await Html.PartialAsync("_PagingPartial", Model.Paging)
}
