@{
    ViewData["Title"] = $"Edit User {Model.UserName}";
}

@model MovieLibrary.UserManagement.ViewModels.UserDetailsViewModel;

<form method="post" asp-action="UpdateUser">
    <table class="table table-hover table-responsive table-sm">
        <thead>
        <tr>
            <th scope="col">Permission</th>
            <th class="text-center" scope="col">Assigned</th>
        </tr>
        </thead>
        <tbody>
        @* TBD: Add permissions checkboxes *@
        </tbody>
    </table>

    <input type="hidden" asp-for="UserId"/>

    <button class="btn btn-primary" type="submit">Update</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
