@{
    ViewData["Title"] = "Manage Users";
}

@model MovieLibrary.UserManagement.ViewModels.Users.UsersListViewModel;

@if (Model.AddedUser)
{
    <div class="alert alert-success" role="alert">
        The user was added successfully.
    </div>
}

@if (Model.UpdatedUser)
{
    <div class="alert alert-success" role="alert">
        The user was updated successfully.
    </div>
}

@if (Model.DeletedUser)
{
    <div class="alert alert-success" role="alert">
        The user was deleted successfully.
    </div>
}

<ul class="list-group">
    @foreach (var user in Model.Users)
    {
        <li class="list-group-item">
            <div class="container">
                <div class="row">
                    <div class="col">
                        @user.UserName
                    </div>
                    <div class="col-auto container">
                        <div class="row">
                            <div class="col">
                                <a class="btn-link" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                            </div>
                            <div class="col">
                                <a class="btn-link" asp-action="ConfirmUserDeletion" asp-route-id="@user.Id">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>

<a class="btn btn-primary mt-3" asp-action="RegisterUser">Add User</a>
